/* ------------ VERSÃO MOBILE 375PX ------------- */

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
}

header {
  background-image: url(./Imagens/fundoposi.jpeg);
  background-position: 47%;
  background-position-y: 55%;
  height: 50vh;
  margin-bottom: 20%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 74%;
}

nav > a > button {
  font-size: 13px;
  border: none;
  background-color: #d4d4d4;
  width: 110%;
  height: 134%;
  font-weight: 600;
  color: #242424;
  border: 2px solid transparent;
}

nav > a > button:hover {
  color: #d4d4d4;
  background-color: #242424;
  border: 2px solid #bf1a2f;
}

#intermediaria {
  background-color: #242424;
  height: 39vh;
  display: flex;
  text-align: justify;
  color: #d4d4d4;
  margin-bottom: 20%;
}

#intermediaria > .meio > h3 {
  margin-left: 27%;
  margin-top: 5%;
  margin-bottom: 3%;
}

#intermediaria > .meio > p {
  width: 88%;
  margin-left: 5%;
  margin-bottom: 3%;
  font-size: 12px;
}

#intermediaria > #skills {
  margin-top: 12%;
  margin-right: 3%;
}

#intermediaria > #skills > h3 {
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 18px;
}

progress {
  accent-color: #d9be90;
  margin-bottom: 10%;
}

#skills > h5 {
  margin-bottom: -10%;
  font-size: 16px;
}

#skills > p {
  margin-left: 70%;
}

#intermediaria:hover {
  background-color: #d4d4d4;
  color: #242424;
}
#intermediaria > .meio > h3:hover {
  color: #bf1a2f;
}

#intermediaria > #skills > h3:hover {
  color: #bf1a2f;
}

progress:hover {
  accent-color: #242424;
}

#projetos {
  background-color: #d4d4d4;
  height: 12vh;
  display: flex;
}

#projetos > h3 {
  text-align: center;
  padding-top: 3%;
  margin-bottom: 3%;
}

#projetos > p {
  text-align: justify;
  width: 30%;
}
